body, html{
    height: 100%
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/light-grey-terrazzo.png")
}

.container-fluid {
    background: #fff;
    border-bottom: 2px solid #cccccc;
}

.bg-light {
    background: #fff;
}

.bg-teal {
    background: #4aaaa5;
}

.content-border {
    border: 2px solid #dddddd;
}

h1, .navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.7em;
}

.content-heading {
    padding: 0.5rem;
}

.nav-link:hover {
    background: #4aaaa5;
    color: #fff;
}

img {
    width: 250px;
    height: 250px;
}

.portfolio-links {
    color: #333;
    text-align: center;
    padding: 0.3rem 0;
    /* padding: auto; */
    margin-top: 80%;
    height: 2rem;
    width: 100%;
    background: #eee; 
    text-decoration: none;
}

.card-img {
    width: 100%;
    height: 100%
}
